BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: true
Standard: Cpp20
UseTab: Never
